In [2]:
a=[]
for i in range(1500,2701):
    if (i%7==0) and (i%5==0):
        a.append(str(i))
        
print(','.join(a))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [5]:
t=input()
d=int(t[:-1])
con=t[-1]
if con.upper()=='C':
    result=int(round((9*d)/5+32))
    o_con='F'
elif  con.upper()=='F':
    result=int(round((d-32)*5/9))
    o_con='C'
else:
    print('Improper Format')
    quit()
print(result, o_con)

5F
-15 C

In [2]:
import random
t,g=random.randint(0,10),0
while t!=g:
    g=int(input())
print('well guess!')

3
7
8
8
6
5
1
2
3
5
6
6
7
8
9
well guess!

In [4]:
n=input()
for i in range(1,6):
    print(n*i)
for i in range(1,6):
    print(int(n*i)-1)

5
5
55
555
5555
55555
4
54
554
5554
55554

In [12]:
r=6
for i in range(r):
    for j in range(i+1):
        print('*',end='')
    print()         
for i in range(r):
    for j in range(r-i):
        print('*',end='')
    print()

*
**
***
****
*****
******
******
*****
****
***
**
*

In [13]:
r=6
for i in range(r):       #row
    for j in range(i+1):     #column
        print('*',end='')
    print()         
for i in range(r,0,-1):     #row
    for j in range(i):      #column
        print('*',end='')
    print()

*
**
***
****
*****
******
******
*****
****
***
**
*

In [14]:
def reverse():
    a= input()
    a1=a[::-1]
    return a1

In [15]:
reverse()

jatin

'nitaj'

In [18]:
c=input()
for char in range(len(c)-1,-1,-1):
    print(c[char],end='')
    print(char,end='')
print()

jatin
n4i3t2a1j0

In [21]:
n=[1,2,3,4,5,6,7,8,9]
even =0
odd=0
for i in n:
    if i%2==0:
        even+=1
    else:
        odd+=1
print(even)
print(odd)

4
5

In [25]:
n=51
n1,n2=0,1
for i in range(0,n):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3, end=' ')

1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099

In [30]:

n1,n2=0,1
while n2<50:
    print(n2, end=' ')
    n1=n2
    n2=n1+n2

1 2 4 8 16 32

In [32]:
for i in range(51):
    if (i%3==0 and i%5==0):
        print('fizzbuzz')
        continue
    elif i %3==0:
        print('fizz')
        continue
    elif i%5==0:
        print('buzz')
        continue
    
    print(i)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

In [35]:
p=[]
for i in range(100,401):
    if i%2==0:
        p.append(i)
        
print(p)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400]

In [36]:
items = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        items.append(s)
print( ",".join(items))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [3]:
for r in range(7):
    for c in range(5):
        if (c==0) or (c==4 and (r!=0 and r!=6)) or ((r==0 or r==6) and (c>0 and c<4)):
            print('*', end='')
        else:
            print(end=' ')
    print()

****
*   *
*   *
*   *
*   *
*   *
****

In [8]:
for r in range(7):
    for c in range(5):
        if c==0 or((r==0 or r==6)and c>0) or (r==3  and (c!=0 and c!=4)):
            print('*', end='')
        else:
            print(end=' ')
    print()

*****
*
*
****
*
*
*****

In [9]:
for r in range(7):
    for c in range(5):
        if (c==0 and (r>0 and r<6)) or (r==0 or r==6 and (c!=0 and c!=4)) or (r==3 and(c==2 or c==3)) or (c==4 and (r>2 and r<6)) or (r==1 and c==4):
            print('*', end='')
        else:
            print(end=' ')
    print()

*****
*   *
*
* ***
*   *
*   *
 ***

In [12]:
for r in range(7):
    for c in range(5):
        if c==0 or (r==6 and c!=0):
            print('*', end='')
        else:
            print(end=' ')
    print()

*
*
*
*
*
*
*****

In [20]:
hdog=15
ddog=0
for i in range(hdog):
    if i<=2:
        ddog=hdog*10.5
    else:
        ddog=21+(hdog-2)*4
print(ddog)

73

In [21]:
def dogage(hdog):
    ddog=0
    for i in range(hdog):
        if i<=2:
            ddog=hdog*10.5
        else:
            ddog=21+(hdog-2)*4
    return ddog

In [24]:
dogage(7)

41

In [30]:

for r in range(10):
    print(str(r)*r)

10
1010
101010
10101010
1010101010
101010101010
10101010101010
1010101010101010
101010101010101010

In [31]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999