In [2]:
import pandas as pd

In [3]:
d=pd.Series([2,3,500])
print(d)

0      2
1      3
2    500
dtype: int64

In [6]:
print(type(d.tolist()))
type(d)

<class 'list'>

pandas.core.series.Series

In [7]:
a=pd.Series([1,2,3])
b=pd.Series([2,9,7])
print(a+b)
print(a-b)
print(a*b)
print(a/b)

0     3
1    11
2    10
dtype: int64
0   -1
1   -7
2   -4
dtype: int64
0     2
1    18
2    21
dtype: int64
0    0.500000
1    0.222222
2    0.428571
dtype: float64

In [8]:
a=pd.Series([1,2,3])
b=pd.Series([2,9,7])
print(a==b)

0    False
1    False
2    False
dtype: bool

In [10]:
a={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print(a)
b=print(pd.Series(a))
print(type(a))
print(type(b))

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
a    100
b    200
c    300
d    400
e    800
dtype: int64
<class 'dict'>
<class 'NoneType'>

In [12]:
import numpy as np
a=np.array([10,20, 30 ,40, 50])
b=pd.Series(a)
print(a)
print(b)

[10 20 30 40 50]
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [13]:
a=pd.Series([100,200,'python',300.12,400])
print(a)
b=pd.to_numeric(a,errors='coerce')
print(b)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [19]:
a={'col1':[1,2,3],'col2':[4,5,6],'col3':[7,8,9]}
df=pd.DataFrame(data=a)
c = df.iloc[:,0]
print(c)
print(type(c))

0    1
1    2
2    3
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [20]:
# 9. Write a Pandas program to convert a given Series to an array.
a=pd.Series([100,200,'python',300.12,400])
print(a)
b=np.array(a)
print(b)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
[100 200 'python' 300.12 400]

In [21]:
# 10. Write a Pandas program to convert Series of lists to one Series. Go to the editor
# Sample Output:
# Original Series of list
# 0 [Red, Green, White]
# 1 [Red, Black]
# 2 [Yellow]
# dtype: object
# One Series
# 0 Red
# 1 Green
# 2 White
# 3 Red
# 4 Black
# 5 Yellow
# dtype: object
a=pd.Series([['Red','Green','White'],['Red','Black'],['Yellow']])
a=a.apply(pd.Series).stack().reset_index(drop=True)
print(a)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [25]:
# 11. Write a Pandas program to sort a given Series. Go to the editor
# Sample Output:
# Original Data Series: 0 100
# 1 200
# 2 python
# 3 300.12
# 4 400
# dtype: object
# 0 100
# 1 200
# 3 300.12
# 4 400
# 2 python
# dtype: object
a=pd.Series(['100','200','python','300.12','400'])
b=pd.Series(a).sort_values()
print(b)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [24]:
import pandas as pd
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [26]:
# Write a Pandas program to add some data to an existing Series.
s = pd.Series(['100', '200', 'python', '300.12', '400'])
a=s.append(pd.Series(['500','ppp']))
print(a)

0       100
1       200
2    python
3    300.12
4       400
0       500
1       ppp
dtype: object

In [28]:
# Write a Pandas program to create a subset of a given series based on value and condition.
a=pd.Series([0,1,2,3])
n=2
s=a[a>n]
print(s)

3    3
dtype: int64

In [29]:
# Write a Pandas program to change the order of index of a given series.
a=pd.Series(data=[1,2,3,4], index=['a','b','c','d'])
a=a.reindex(index=['d','c','a','b'])
print(a)

d    4
c    3
a    1
b    2
dtype: int64

In [30]:
# Write a Pandas program to create the mean and standard deviation of the data of a given Series.
a=pd.Series([0,1,2,3])
print(a.mean())
print(a.std())

1.5
1.2909944487358056

In [33]:
# Write a Pandas program to get the items of a given series not present in another given series.
s1=pd.Series([1,2,5])
s2=pd.Series([5,6,2])
print('Common')
print(s1[s1.isin(s2)])
print('uncomon use ~')
print(s1[~s1.isin(s2)])

Common
1    2
2    5
dtype: int64
uncomon use ~
0    1
dtype: int64

In [38]:
# Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
a=np.random.RandomState(100)
b=pd.Series(a.normal(10,2,20))
print(b)
r=np.percentile(b, q=[0,25,50,75,100])
print((r))

0      6.500469
1     10.685361
2     12.306072
3      9.495128
4     11.962642
5     11.028438
6     10.442359
7      7.859913
8      9.621008
9     10.510003
10     9.083946
11    10.870327
12     8.832810
13    11.633694
14    11.345442
15     9.791178
16     8.937439
17    12.059465
18     9.123729
19     7.763364
dtype: float64
[ 6.50046905  9.04731933 10.11676853 11.10768866 12.30607161]

In [45]:
# Write a Pandas program to calculate the frequency counts of each unique value of a given series.
n=pd.Series(np.take(list('0123456789'),np.random.randint(1,10,size=40)))
print(n)
r=n.value_counts()
print(r)

0     7
1     8
2     6
3     3
4     5
5     6
6     9
7     3
8     4
9     3
10    8
11    6
12    5
13    6
14    2
15    9
16    9
17    5
18    9
19    8
20    5
21    3
22    2
23    5
24    7
25    2
26    7
27    8
28    3
29    5
30    7
31    3
32    6
33    3
34    9
35    7
36    3
37    9
38    3
39    8
dtype: object
3    9
5    6
9    6
7    5
8    5
6    5
2    3
4    1
dtype: int64

In [51]:
# Write a Pandas program to display most frequent value in a given series and replace everything else as ‘Other’ in the series.
np.random.RandomState(100)
n=pd.Series(np.random.randint(1,5,[15]))
print(n)
print('top 2: ',n.value_counts())
r=n[~n.isin(n.value_counts().index[:1])]='other'
print(n)

0     2
1     3
2     4
3     1
4     4
5     2
6     3
7     1
8     4
9     2
10    4
11    1
12    4
13    4
14    1
dtype: int32
top 2:  4    6
1    4
2    3
3    2
dtype: int64
0     other
1     other
2         4
3     other
4         4
5     other
6     other
7     other
8         4
9     other
10        4
11    other
12        4
13        4
14    other
dtype: object

In [53]:
n[~n.isin(n.value_counts().index[:1])]

2     4
4     4
8     4
10    4
12    4
13    4
dtype: object

In [57]:
n=pd.Series(np.random.randint(1,10,9))
print(n)
r=list(np.where(n%5==0))
print(r)

0    3
1    5
2    9
3    6
4    2
5    3
6    2
7    9
8    3
dtype: int32
[array([1], dtype=int64)]

In [58]:
n=pd.Series(list('24567812369554785555'))
pos=[0,2,11]
r=n.take(pos)
print(r)

0     2
2     5
11    5
dtype: object

In [60]:
n = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
pos = pd.Series([1, 3, 5, 7, 10])
r=[pd.Index(n).get_loc(i)for i in pos]
print(r)

[0, 2, 4, 6, 9]

In [61]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])
r=series1.map(lambda x: x[0].upper()+x[1:-1]+x[-1].upper())
print(r)

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [64]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])
r=series1.map(lambda x:len(x))
print(r)

0    3
1    6
2    4
3    2
dtype: int64

In [66]:
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [67]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(pd.to_datetime(date_series))

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [72]:
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
date_series=date_series.map(lambda x:parse(x))
print(date_series.dt.day.tolist())
print(date_series.dt.dayofyear.tolist())
print(date_series.dt.weekofyear.tolist())
print(date_series.dt.day_name().tolist())

[1, 2, 7, 6, 12, 6]
[1, 276, 66, 126, 103, 96]
[1, 39, 10, 19, 15, 14]
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_10448/2501105181.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print(date_series.dt.weekofyear.tolist())

In [73]:
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
r=date_series.map(lambda x:parse('2'+x))
print(r)

0   2015-01-02
1   2016-02-02
2   2017-03-02
3   2018-04-02
4   2019-05-02
dtype: datetime64[ns]

TILL QESTION 29